@import url('https://unpkg.com/css.gg@2.0.0/icons/css/chevron-right.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/chevron-left.css');

.Pack {
    width: 100%;
    padding: 0px 20px 0px 20px;
    margin-top: 100px;
    max-height: calc(100vh - 100px);
    z-index: 0;

    .container-pack {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;

        .box-pack-title {
            padding-left: 50px;
            h2 {
                font-family: 'Plus Jakarta Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 44px;
                line-height: 66px;
                color: #FFFFFF;
            }
        }

        .box-pack-content {
            width: 100%;
            // height: 70vh;
            position: relative;
            display: flex;
            align-items: center;
            gap: 40px;

            .container-pack-visuel {
                width: 60%;
                // display: flex;
                // flex-direction: column;
                // align-items: center;
                // justify-content: center;
                // gap: 30px;

                .slider-container {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                  }

                .navigation-buttons {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    gap: 20px; // Espace entre les deux boutons
                  }
                  

                  .carousel__prev, .carousel__next {
                    // position: absolute;
                    // right: 350px;
                    border: solid 1px #fff;
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    transition: 0.5s ease;
                    cursor: pointer;
                  }
                  .gg-chevron-left,
                  .gg-chevron-right {
                    color: white !important;
                    font-size: 10px;
                  }

                .box-visuel-pack {
                    width: 100%;
    
                    .box-pack {
                        width: 100%;
                        border-radius: 20.5926px;
                        display: flex;
                        flex-direction: column;
                        gap : 10px;
                        transition: transform 0.3s;
                        z-index: 1;
    
                        .box-text-pack {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            padding: 15px;
                            gap: 5px;
                        }
    
                        h2 {
                            font-family: 'Plus Jakarta Sans';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 25px;
                            line-height: 30px;
                            
                            /* Neutral/White */
                            
                            color: #FFFFFF;
                        }
                        p {
                            font-family: 'Plus Jakarta Sans';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 25px;
                            /* identical to box height, or 137% */
                            
                            
                            color: #0CA7D8;
                            
                        }
                        img {
                            width: 100%;
                            border-radius: 20.5926px;
                            // height: 634.94px;
                        }
                    }

                    .swiper-wrapper {
                        align-items: center;
                    }

                    .swiper-slide-prev .box-pack{
                        border-radius: 20.5926px;
                        // transform: skewY(353deg);
                        width: 80%;
                        // justify-content: flex-end;
                        opacity: 0.7;
                        float: right;
                    }

                    .swiper-slide-active .box-pack {
                        z-index: 2;
                    }

                    .swiper-slide-next .box-pack {
                        border-radius: 20.5926px;
                        // transform: skewY(-353deg);
                        width: 80%;
                        opacity: 0.7;
                        // transform: matrix(1, 0, 0, 1, 0, 0);
                    }
    
                }
            }


            .box-description-pack {
                display: flex;
                flex-direction: column;
                gap: 20px;
                height: 100%;
                max-height: 100%;
                background: rgba(0, 0, 0, 0.2);
                backdrop-filter: blur(67px);
                padding: 20px 35px;
                width: 30%;
                border-radius: 15px;

                .box-name {
                    display: flex;
                    justify-content: space-between;
                    align-items: center ;

                    h3 {
                        font-family: 'Plus Jakarta Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 34px;
                        line-height: 40px;

                        color: #FFFFFF;
                    }
                    p {
                        font-family: 'Plus Jakarta Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 30px;

                        color: #FFFFFF;
                    }
                }

                .box-description {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    h4 {
                        font-family: 'Plus Jakarta Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                        color: #FFFFFF;
                    }

                }

                span {
                    font-family: 'Plus Jakarta Sans';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 5px;
                        color: #CACED3;
                }

                .button-box {
                    display: flex;
                    justify-content: center;

                    button {
                        font-family: 'Plus Jakarta Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 18px;
                        color: #FFFFFF;                        
                        background: #4D00EF;
                        border-radius: 38px;
                        border: 0;
                        padding: 15px 55px;

                    }
                }

            }
        }

    }

}