.team-stadium {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    height: 100%;

    p {
        color: #CACED3;
        text-align: center;
        font-family: "Roboto";
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.player {
    display: flex;
    flex-direction: column; // Les joueurs de la même position seront affichés verticalement
    gap: 30px;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.player-details::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.team-A .player-details::before {
    background: blue;
}

.team-B .player-details::before {
    background: red;
}

.player-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-A, .team-B {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 50%;
    height: 100%;
}

.team-A {
    padding-right: 10px;
    // padding-left: 20px;

    .position-GK {
        grid-column: 1;
        grid-row: 2;
    }
    
    .position-CB {
        grid-column: 3;
        grid-row: 2;
    }
    
    .position-LB {
        grid-column: 4;
        grid-row: 1;
    }
    
    .position-RB {
        grid-column: 4;
        grid-row: 3;
    }
    
    .position-CM {
        grid-column: 5;
        grid-row: 2;
    }
    
    .position-MD {
        grid-column: 5;
        grid-row: 3;
    }
    
    .position-LD {
        grid-column: 5;
        grid-row: 1;
    }
    
    .position-CAM {
        grid-column: 6;
        grid-row: 2;
    }
    
    .position-LW {
        grid-column: 7;
        grid-row: 1;
    }
    
    .position-RW {
        grid-column: 7;
        grid-row: 3;
    }
    
    .position-BU, .position-ST {
        grid-column: 8;
        grid-row: 2;
    }
}

.team-B {

    .position-GK {
        grid-column: 8;
        grid-row: 2;
    }
    
    .position-CB {
        grid-column: 6;
        grid-row: 2;
    }
    
    .position-LB {
        grid-column: 5;
        grid-row: 3;
    }
    
    .position-RB {
        grid-column: 5;
        grid-row: 1;
    }
    
    .position-CM {
        grid-column: 4;
        grid-row: 2;
    }
    
    .position-MD {
        grid-column: 4;
        grid-row: 1;
    }
    
    .position-LD {
        grid-column: 4;
        grid-row: 3;
    }
    
    .position-CAM {
        grid-column: 3;
        grid-row: 2;
    }
    
    .position-LW {
        grid-column: 2;
        grid-row: 3;
    }
    
    .position-RW {
        grid-column: 2;
        grid-row: 1;
    }
    
    .position-BU, .position-ST {
        grid-column: 1;
        grid-row: 2;
    }
}